[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/Satish/restful-authentication.git
[submodule "vendor/plugins/date_helper_ja"]
	path = vendor/plugins/date_helper_ja
	url = git://github.com/kiyoshi/date_helper_ja.git
