#-*- coding: utf-8 -*-
require "mail"

# 
# pop & imap
# 

# module CelebLog
#   USE_APOP = false
#   # for DNS health check
#   POP_SERVER = {
#     :address => 'mail.MyDNS.JP',
#     :port => 995,
#     :account => '',
#     :password => ''
#     }
#   IMAP_SERVER = {
#     :address => 'imap.gmail.com',
#     :port => 993,
#     :account => 'example@example.com',
#     :password => 'password'
#     }
# end

# 
# smtp
#

# ActionMailer::Base.delivery_method = :smtp
# ActionMailer::Base.smtp_settings = {
#   :address              => "smtp.gmail.com",
#   :port                 => 587,
#   :domain               => 'baci.lindsaar.net',
#   :user_name            => '<username>',
#   :password             => '<password>',
#   :authentication       => 'plain',
#   :enable_starttls_auto => true
# }

#
# sendmail
#

ActionMailer::Base.delivery_method = :sendmail
# Defaults to:
# config.action_mailer.sendmail_settings = {
#   :location => '/usr/sbin/sendmail',
#   :arguments => '-i -t'
# }
ActionMailer::Base.perform_deliveries = true
ActionMailer::Base.raise_delivery_errors = true

MailConfig = { 
  :admin_email => 'test@test.com',
  :site_name => 'My Site',
  :site_url => 'http://localhost:3000'
}
