# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Rails3::Application.config.secret_token = '2fd6016e65538355e0bd2ab33ad7b170af4943adde975d5147ccd1a5f9cd5db0b05a7243c98ffc484b6f971628d565611666c336f126da842bd2d64811a0fd94'
