<h2>Sign up as a new user</h2>

<% @user.password = @user.password_confirmation = nil %>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render "form" %>
