<div id="header">
	<div id="logo">
		<h1><%= link_to 'Rails3', '/' %></h1>
		<h2><%= link_to 'subtitle', '#'%></h2>
	</div>
	<!-- end div#logo -->
	<%= render :partial => "layouts/title_navi" %>
</div>
<!-- end div#header -->
